{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 4,
    "no-descending-specificity": null
  },
  "desc": "no-descending-specificity , 禁止 不允许较低特异性的选择器出现在覆盖较高特异性的选择器之后 （详情 https://stylelint.io/user-guide/rules/list/no-descending-specificity）"
}
